/* Style for the body */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Style for the navbar */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  padding: 15px 20px;
  z-index: 1000;
}

#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

#navbar li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  transition: color 0.3s;
}

#navbar li a:hover {
  color: rgb(187, 31, 181);
}

.content {
  margin-top: 80px;
  padding: 20px;
  background-color: #f4f4f4;
}
